<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Recetario::{% block titulo %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
	<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" />
	{% block style_css %}{% endblock %}

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/demo.js"></script>


</head>
<body>
<header>
	{% include "menu.html" %}
</header>

{%block contenido %}{% endblock %}
</body>
</html>